<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body class="container mt-5">
    
    <div class=" container card card-header p-3 mb-2 bg-dark text-light w-50">
        <h1 class="text-info">Register</h1>
        
        <form action="/create_user" method="post">
                <label for="name" class="bg-dark text-light">First Name:</label>
                <input type="text" name="name" placeholder="Enter your name" class="form-control">
                <label for="lastName" class="bg-dark text-light">Last Name:</label>
                <input type="text" name="lastName" placeholder="Enter your last name" class="form-control">
                <label for="email" class="bg-dark text-light">Email:</label>
                <input type="text" name="email" placeholder="Enter your email" class="form-control"><br>
                <input type="submit" value="Register" class="btn btn-outline-info">
        </form>
    </div>

</body>
</html>